colorama==0.4.6 ; sys_platform == 'win32'
    # via pytest
contourpy==1.4.0
    # via matplotlib
cycler==0.12.1
    # via matplotlib
fonttools==4.66.1
    # via matplotlib
iniconfig==2.3.0
    # via pytest
kiwisolver==1.5.1
    # via matplotlib
matplotlib==3.11.2
    # via solarscope
numpy==2.5.3
    # via
    #   contourpy
    #   matplotlib
    #   pandas
    #   solarscope
packaging==26.3
    # via
    #   matplotlib
    #   pytest
pandas==3.0.6
    # via solarscope
pillow==12.3.0
    # via matplotlib
pluggy==1.6.0
    # via pytest
pygments==2.21.0
    # via pytest
pyparsing==3.3.3
    # via matplotlib
pytest==9.1.1
python-dateutil==2.9.0.post0
    # via
    #   matplotlib
    #   pandas
pyyaml==6.0.3
    # via solarscope
ruff==0.16.10
six==1.17.0
    # via python-dateutil
tzdata==2026.5 ; sys_platform == 'emscripten' or sys_platform == 'win32'
    # via pandas
